@media (min-width: 1200px) {
    #about,
    #job-info,
    #certificate,
    #nav-bar ,
    #project {
      width: clamp(1170px, 70%, 70%);
      margin: 0 auto 0 auto;
    }
    #certificate > .row > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    #job-info > div {
      display: grid;
      grid-template-areas:
        "con1 con2 con3"
        "con4 con5 con6";
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto;
    }
    #banner {
      background-image: url("../images/banner.jpg");
      background-size: cover;
      display: flex;
      height: 30em;
      justify-content: center;
  
    }
    .bg-grey {
      background: linear-gradient(
        to right,
        #a1a19f,
        #a1a19f 50%,
        #f7f7f7 50%,
        #f7f7f7 100%
      );
    }
    #nav-bar > nav {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
    }
    #nav-bar > nav > a > img {
      display: inline-block;
      height: 1.8em;
      transform: scale(5);
      position: relative;
      top: -3em;
      margin: 0 1em 0 1em;
      border-radius: 50%;
    }
  
    #nav-bar > nav > a {
      padding: 1em;
      border-collapse: collapse;
    }
   
  
    .project-text {
      display: grid;
      grid-template-areas:
        "top-a top-b top-c"
        "-a1 -a2 -a2"
        "-b1 -b2 -b2"
        "-c1 -c2 -c2";
      grid-template-rows: 3em 8em 4em 3em;
      text-align: justify;
    }
  }