* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}
/* set up grid bên trong của mục #job-infor */
#job-info > div > .skill {
  display: grid;
  grid-template-areas:
    "title icon"
    "text-1 text-1";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  border: solid 1px;
  text-align: justify;
  padding: 0;
}
#job-info > div > .skill > h1 {
  grid-area: title;
  border-top: solid 1px;
}
#job-info > div > .skill > i {
  grid-area: icon;
  font-size: 2em;
  border-top: solid 1px;
}
#job-info > div > .skill > div {
  grid-area: text-1;
  margin: 0 0 0.3em 0;
  padding: 1em;
  border-top: solid 1px;
}
/* set up xong */

#banner > div {
  margin-top: auto;
  margin-bottom: auto;
}
h3 {
  text-align: left;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
}
/*lệnh lặt vặt cho đẹp*/
.mt-40>li{
  list-style: none;
}
#project {
  margin: 0 auto 0 auto;
}
.project-con {
  border: solid 1px;
}
.project-text > * {
  border-top: solid 1px;
  padding: 0.5em;
}
.project-con > h4 {
  height: 3em;
}

i {
  color: brown;
}
/*riêng cho cái box ko list*/
.flex-list > ul {
  display: flex;
  list-style: none;
}
.flex-list > ul > li > i {
  font-size: 1.5em;
  border: solid greenyellow;
  padding: 0.2em;
  border-radius: 60%;
}
.flex-list > ul > li {
  margin: 0 1em 0 0;
}
#about > div > ul > li {
  list-style: none;
}
.blue {
  width: 2em;
  height: 0.5em;
  background-color: rgb(36, 132, 221);
  border: solid;
}
.white {
  background-color: antiquewhite;
  border: solid;
  width: 2em;
  height: 0.5em;
}

#footer > div > ul {
  display: flex;
}
#footer > div > ul > li {
  padding: 0.3em;
  list-style: none;
  background-color: #a1a19f;
  border-radius: 5px;
  margin: 0 0.5em 0 0;
}
