


@media (min-width: 320px) and (max-width: 576px) {
  #about,
  #job-info,
  #certificate,
  #project {
    width: clamp(290px, 90%, 500px);
    margin: 0 auto 0 auto;
  }

  #job-info > div {
    display: grid;
    grid-template-areas: "con1" "con4" "con2" "con5" "con3" "con6";
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: 1fr;
  }

  #banner {
    background-image: url("../images/banner.jpg");
    background-color: aliceblue;
    background-size: cover;
    display: flex;
    height: 30vh;
    /*có đúng 1 cái,đi ra giữa*/
    justify-content: center;
  }

  #certificate > .row > div {
    display: grid;
    grid-template-rows: auto auto;
  }

  .bg-grey {
    background: #f7f7f7 ;
  }

  .project-text {
    display: grid;
    grid-template-areas:
      "top-a top-b top-c"
      "-a1 -a2 -a2"
      "-b1 -b2 -b2"
      "-c1 -c2 -c2";
    grid-template-rows: auto auto auto auto;
    text-align: justify;
  }
  #nav-bar > nav > a > img {
    height: 0;
    width: 0;
    position: absolute;
    top: -10em;
  }
  #nav-bar > nav > a {
    
    border: none;
    line-break: auto;
    display: block;
    text-align: left;
  }
}
